<%= link_to '< Back', job_logs_path %>
<h1 class="main-title">Job #<%= @job_log.sidekiq_jid %></h1>

<h2>Info:</h2>
<p>Job: <b><%= @job_log.item_type %></b></p>
<p>Created_at: <b><%= @job_log.display_created_at %></b></p>
<p>Finished_at: <b><%= @job_log.display_finished_at %></b></p>
<p>Status: <b><%= @job_log.status %></b></p>
<p>Queue: <b><%= @job_log.queue %></b></p>

<% if @job_log.args.present? %>
  <h2>Arguments:</h2>
  <table>
    <thead>
      <tr>
        <th>Arg</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @job_log.args.each do |arg| %>
        <% if arg.is_a? Hash %>
          <%- arg.each do |k,v| %>
            <tr>
              <td>
                <%= k %>
              </td>
              <td>
                <%= v %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>
              <%= @job_log.args.index(arg) %>
            </td>
            <td>
              <%= arg %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @job_log.backtrace.present? %>
  <h2>Backtrace:</h2>
  <div class="code">
    <code>
      <%= @job_log.error_message %>
      <% @job_log.backtrace.each do |b| %>
        <div>
          <%= b %>
        </div>
      <% end %>
    </code>
  </div>
<% end %>